[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
pytest = "*"
requests = "*"
boto3 = "*"
pynamodb = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pylint = "<2.0.0"
python-dotenv = "*"
pytest-mock = "*"
pytest-profiling = "*"
moto = "*"
freezegun = "*"

[requires]
python_version = "3.7"
