-i https://pypi.org/simple
astroid==1.6.6 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
atomicwrites==1.3.0
attrs==19.3.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
backcall==0.1.0
decorator==4.4.1
gprof2dot==2017.9.19
importlib-metadata==0.23 ; python_version < '3.8'
ipdb==0.12.2
ipython-genutils==0.2.0
ipython==7.9.0
isort==4.3.21 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
jedi==0.15.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
lazy-object-proxy==1.4.3 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
mccabe==0.6.1
more-itertools==7.2.0 ; python_version >= '3.4'
packaging==19.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
parso==0.5.1
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pluggy==0.13.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pygments==2.4.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pylint==1.9.4
pyparsing==2.4.2 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytest-mock==1.11.2
pytest-profiling==1.7.0
pytest==5.2.2
python-dotenv==0.10.3
six==1.12.0 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
traitlets==4.3.3
wcwidth==0.1.7
wrapt==1.11.2
zipp==0.6.0 ; python_version >= '2.7'
